@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body), var(--font-geist-sans);
  --font-heading: var(--font-heading);
  --font-mono: var(--font-geist-mono);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-body: --font-montserrat, sans-serif;
  --font-heading: --font-lato, serif;
  --font-montserrat: var(--font-body);
  --font-lato: var(--font-heading);

  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.025em;

  --line-height-tight: 1.2;
  --line-height-normal: 1.6;
  --line-height-relaxed: 1.8;
}

:root {
  --radius: 0.625rem;

  --background: var(--secondary-light);
  --foreground: var(--text-dark);

  --card: oklch(1 0 0);
  --card-foreground: var(--primary-dark);

  --popover: oklch(1 0 0);
  --popover-foreground: var(--text-dark);

  --primary: var(--primary-dark);
  --primary-foreground: var(--neutral);

  --secondary: var(--secondary-mid);
  --secondary-foreground: var(--neutral);

  --muted: var(--secondary-dark);
  --muted-foreground: var(--text-mid);

  --accent: var(--primary-light);
  --accent-foreground: var(--neutral);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(87.2% 0.01 258.338);
  --input: var(--secondary-dark);
  --ring: var(--primary-mid);
  --chart-1: 198 65% 24%;
  --chart-2: 168 38% 60%;
  --chart-3: 285 19% 62%;
  --chart-4: 209 20% 58%;
  --chart-5: 39 50% 67%;

  --sidebar: var(--primary-dark);
  --sidebar-foreground: var(--neutral);
  --sidebar-primary: var(--primary-mid);
  --sidebar-primary-foreground: var(--text-dark);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--neutral);
  --sidebar-border: var(--primary-mid);
  --sidebar-ring: var(--accent);
  --primary-dark: #145266;
  --primary-mid: #75BFB2;
  --primary-light: oklch(77.7% 0.152 181.912);
  --secondary-light: oklch(1 0 0);
  --secondary-mid: #7A93AC;
  --secondary-dark: #E1D3C1;
  --accent-gold: #D4B483;
  --neutral: #F5F5F5;

  --text-dark: #333333;
  --text-mid: #666666;
  --text-light: #999999;
  --text-on-dark: #ffffff;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .floatingMenu {
    animation: reveal 0.5s cubic-bezier(0.85, 0, 0.15, 1);
  }

  .floatingCookies {
    animation: revealout 0.5s cubic-bezier(0.85, 0, 0.15, 1);
  }

  @keyframes reveal {
    from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(0%);
    }
  }

  @keyframes revealout {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(-10%);
    }
  }


  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  .animate-float {
    animation: float 2s ease-in-out infinite;
  }
}